
.sidemenu {
    width: 240px;
    padding: 10px;
    background-color: #202123;
    overflow: scroll;
    scrollbar-width: thin;
    scrollbar-color: #888 #202123;
    z-index: 100;
  }
  
  .sidemenu::-webkit-scrollbar {
    width: 1px;
  }
  
  .sidemenu::-webkit-scrollbar-track {
    background: #202123;
  }
  
  .sidemenu::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  .sidemenu__button {
    padding: 12px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-align: left;
  }
  
  .sidemenu__button span {
    padding-left: 6px;
    padding-right: 12px;
  }
  
  .sidemenu__button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: ease 0.2s all;
  }
  
  .sidemenu__history {
    padding: 12px;
    text-align: left;
    margin-top: 12px;
  }
  
  .sidemenu__history:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: ease 0.2s all;
  }
  
  .side-menu-toggle-btn {
    position: absolute;
    top: 3%;
    left: 0.5%;
    transform: translateY(-50%);
    z-index: 100;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #202123;
    cursor: pointer;
  }